Edit question:
<form (ngSubmit)="save(questionForm)" #questionForm="ngForm" class="card p-2 m-2" novalidate>
  <div class="card-body">
    <label for="qId" class="form-label">Id <span *ngIf="qId.errors?.['required']">*</span></label>
    <input type="text" #qId="ngModel" required minlength="3" id="qId" name="make" [(ngModel)]="question.id"
           class="form-control mb-2" disabled>

    <label for="sQuestion" class="form-label">Question<span *ngIf="sQuestion.errors?.['required']">*</span></label>
    <textarea type="text" #sQuestion="ngModel" required id="sQuestion" name="question" [(ngModel)]="question.sQuestion"
              class="form-control  mb-2" rows="5"></textarea>

    <div class="btn-group" role="group" aria-label="Buttons">
      <button class="btn btn-primary">Ok</button>
      <button (click)="cancel()" class="btn btn-secondary">Cancel</button>
    </div>
  </div>
</form>
