<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <property name="logpattern">%highlight{[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=WHITE, DEBUG=green bold, TRACE=blue}
        </property>
    </Properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false" pattern="${logpattern}"/>
        </Console>
        <RollingFile name="rolling-file" fileName="logs/app.log"
                     filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- default -->
        <Root level="INFO">
            <AppenderRef ref="console"/>
            <AppenderRef ref="rolling-file"/>
        </Root>
        <!-- for everything from com.infosupport -->
        <Logger name="com.infosupport.logging.special" level="DEBUG"/>
        <Logger name="com.github.javafaker" level="TRACE"/>
    </Loggers>
</Configuration>
