<mat-paginator [length]="totalItems" [pageSize]="pageSize" [pageIndex]="currentPage"
               [showFirstLastButtons]="true" [hidePageSize]="true"
               (page)="pageChanged($event)">

</mat-paginator>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Question</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    @for (q of questions; track $index) {
      <tr>
        <td>{{ q.id }}</td>
        <td>{{ q.sQuestion }}</td>
        <td>
          <i routerLink="/question/{{q.id}}" class="fa-solid fa-circle-info pointer-hand"></i>
        </td>
      </tr>
    }
  </tbody>
</table>

