<div class="row">
  <form (ngSubmit)="submit()" [formGroup]="contactForm">
    <div class="d-flex">
      <div class="p-1">
        <input type="text" formControlName="firstName" class="form-control"
               placeholder="First name" required>
      </div>
      <div class="p-1">
        <input type="text" formControlName="surname" class="form-control"
               placeholder="Surname" required>
      </div>
      <div class="p-1 flex-grow-1">
        <div class="input-group">
          <div class="input-group-text"><i class="fa-regular fa-envelope"></i></div>
          <input type="text" formControlName="email" name="email" id="inputEmailR" class="form-control"
                 placeholder="Email">
        </div>
      </div>
      <div class="p-1 d-flex ms-auto align-content-center flex-wrap">
        <input type="submit" id="submit" class="btn btn-primary" value="Save">
      </div>
    </div>

    <div class="d-flex">
      <div class="p-1">
        <label for="gender">Gender</label>
        <select formControlName="gender" name="gender" id="gender" class="form-select">
          @for (g of genders; track $index) {
            <option [ngValue]="g">{{ g.name }}</option>
          }
        </select>
      </div>
      <div class="p-1">
        <label>Languages</label>
        <div class="d-flex gap-3" formArrayName="languages">
          @for (l of languages; track $index) {
            <div class="">
              <div class="form-check d-flex gap-1">
                <input class="form-check-input" type="checkbox" id="{{$index}}" [formControlName]="$index">
                <label class="form-check-label" for="{{$index}}">{{ l.name }}</label>
              </div>
            </div>
          }
        </div>
      </div>
    </div>
  </form>
</div>

<div class="col-md-12" (click)="toggleForm()">Open/close debug info <i class="far fa-{{plusMinus}}-square"></i></div>

@if (plusMinus === 'minus') {
  <pre>{{ contactForm.value | json }}</pre>
}
