<nav class="navbar navbar-expand-md navbar-light mb-1" style="background-color: rgb(23,136,1);">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="" routerLinkActive="active" >Home</a>
        </li>
        @if (isLoggedIn()) {
          <li class="nav-item">
            <a class="nav-link" routerLink="admin" routerLinkActive="active" >Admin</a>
          </li>
        }
      </ul>
    </div>
  </div>
</nav>
