<h1>Welcome to the umpire quiz app!</h1>
<img src="img/umpire.jpg">
<BR>
<button (click)="showToggle()" class="btn btn-warning">{{ showOrHideLabel() }} angular basics...</button>
<div [hidden]="isHidden" class="m-3 p-2 card">
  <input type="text" [(ngModel)]="inputValue" placeholder="type something..."/>

  Value = {{ inputValue }}

  <br><br>
  <button (click)="resetInputValue()">Reset</button>
  <br><br>

  <input type="text" [value]="getValue()" disabled/>
  <div>
    <p [hidden]="isHidden">Hidden title</p>
  </div>

</div>
