<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">
    <variable name="MYSQL_HOSTNAME" defaultValue="localhost"/>
    <variable name="MYSQL_PORT" defaultValue="3306"/>
    <variable name="MYSQL_USE_SSL" defaultValue="true"/>

    <httpEndpoint id="defaultHttpEndpoint" httpPort="9080" httpsPort="9443"/>
    <keyStore id="defaultKeyStore" password="Liberty"/>

    <!-- for admin center -->
    <administrator-role>
        <user>admin</user>
    </administrator-role>
    <basicRegistry>
        <user name="Bob" password="bobpassword"/>
        <user name="Wanda" password="wandapassword"/>
        <user name="Todd" password="toddpassword"/>

        <group name="managers">
            <member name="Wanda"/>
            <member name="Todd"/>
        </group>
    </basicRegistry>

    <featureManager>
        <feature>jakartaee-10.0</feature>
        <feature>restfulWS-3.1</feature>
        <feature>jsonb-3.0</feature>
        <feature>xmlBinding-4.0</feature>
        <feature>persistence-3.1</feature>
        <feature>messaging-3.1</feature>
        <feature>enterpriseBeans-4.0</feature> <!-- for MDB -->
        <feature>mpOpenAPI-3.1</feature>
        <feature>jndi-1.0</feature>
        <feature>mpJwt-2.1</feature>
        <feature>adminCenter-1.0</feature> <!-- see https://openliberty.io/docs/latest/admin-center.html -->
        <!--        <feature>persistenceContainer-3.1</feature>-->
        <!--        <feature>bells-1.0</feature>-->
    </featureManager>
    <administrator-role>
        <group>managers</group>
    </administrator-role>

    <reader-role>
        <user>Bob</user>
    </reader-role>

    <remoteFileAccess>
        <writeDir>${server.config.dir}</writeDir>
    </remoteFileAccess>

    <applicationManager autoExpand="true"/>

    <logging traceSpecification="JPA=all"/>

    <!--FOR JPA:  ******************************************** -->
    <!--    to be able to use hibernate instead of eclipselink: -->
    <!--    <library id="HibernateLib">-->
    <!--        <fileset dir="${shared.resource.dir}/" includes="hibernate-core*.jar"/>-->
    <!--    </library>-->

    <!--    <bell libraryRef="HibernateLib"/>-->

    <!-- MySQL for production -->
    <library id="MySQLLib">
        <fileset dir="${shared.resource.dir}/" includes="mysql*.jar"/>
    </library>

    <dataSource id="DefaultDataSource" jndiName="jdbc/mySqlDatasource">
        <jdbcDriver libraryRef="MySQLLib"/>
        <properties serverName="${MYSQL_HOSTNAME}" portNumber="${MYSQL_PORT}" useSSL="${MYSQL_USE_SSL}"
                    databaseName="baseball-quiz" user="root" password="root" serverTimezone="UTC"/>
    </dataSource>

    <messagingEngine>
        <queue id="importerQueue"/>
    </messagingEngine>

    <jmsQueueConnectionFactory jndiName="jms/connectionFactory">
        <properties.wasJms remoteServerAddress="localhost:7276:BootStrapBasicMessaging"/>
    </jmsQueueConnectionFactory>

    <jmsQueue id="importerJmsQueue" jndiName="jms/importer">
        <properties.wasJms queueName="importerQueue"/>
    </jmsQueue>

    <jmsActivationSpec id="baseball-quiz/importerMdb"> <!--syntax: <war-name>/<mdb-name> -->
        <properties.wasJms destinationRef="importerJmsQueue" destinationType="jakarta.jms.Queue"/>
    </jmsActivationSpec>

</server>

